*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/pf12.png);
    background-repeat: no-repeat;
    background-position: right;
   
}
.container{
    padding: 10px 10% ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f ;
}

/*----about----*/
#about{
    padding: 80px 0;
    color: #ababab;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 440px;
    
}

.about-col-2{
    flex-basis: 60%;
    margin-bottom: 20px;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    font-weight: bol;
}

.tab-links{
    margin-right: 50px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ababab;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*----------------------services--------------------*/

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s,tranform 0.5s;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 12px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*----------------------services--------------------*/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}
.bt{
    display: block;
    width:fit-content;
    border: 1px solid#ff004f;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s; 
    

}

.bt1{
    display: block;
    width:fit-content;
    border: 1px solid#ff004f;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
    color: #fff;
    background-color: #080808;
    cursor: pointer;
}

.bt1:hover{
    background: #ff004f;
}

.btn{
    display: block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid#ff004f;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s; 
    
}
.bt:hover{
    background: #ff004f;
}

.btn:hover{
    background: #ff004f;
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    margin-top: 5px;
}

.contact-left{
    flex-basis: 65%;
    margin-bottom: 20px;
   
}

.contact-left p{
    margin-top: 10px;
    margin-bottom: 15px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.contact-right{
    flex-basis: 60%;
    align-items: center;
}
.contact-right form{
    width: 100%;
    
}


form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626 ;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    
}

form .btn2{
    padding: 14px 60px;
    margin-top: 20x;
    cursor: pointer;
    font-size: 18px

}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright a{
    color: #ff004f;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}


.social-icon 
{
    margin-top: 30px;
}

.social-icons a{
    text-decoration:none;
    display: inline;
    color: #ababab;
    margin-right: 15px;
    font-size: 30px;
    transition: transform 0.5s;
    margin-bottom: 200px;
    margin-top: 35px;

}

.social-icons a:hover{
    color: #ff004f;
    transform: translate(-5px);
}
.social-icon .icon
{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.5s;
}

.icon img
{
    width: 40px;
}

.icon a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff004f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: transform 0.5s;
}

.icon a:hover
{
    opacity: 1;
}

.icon:hover
{
    transform: translateY(-5px);
}


/*---------mobile------------*/

nav .fas {
    display: none;
}


@media only screen and (max-width:800px){
    .header-text{
        background-image: url(images/em1);
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas {
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font: size 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 400px;
    }
    .copyright{
        font-size: 14px;
    }
}




/*---------------------*/


  
  .skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
    height: 14px;
    background: #ff004f;
    border-radius: 30px;
  }
  
  .skill-per{
    height: 14px;
    background: #ff004f;
    border-radius: 30px;
    position: relative;
    animation: fillBars 2.5s 1;
    margin-top: 10px;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #000000;
    border-radius: 40px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ff004f;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
    margin-top: 6px;
  }
  
  @keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
   
  }


  /*-------------------------------*/
 
.right-col
{
    flex-basis: 55%;
}

.left-col img
{
    width: 80%;
    cursor: pointer;
    
    transition: filter 1s;
    transition: transform 0.5s;
}

.left-col img:hover
{
    
    transform: translateY(-8px);
}

.right-col h1{
    font-size: 55px;
    font-weight: 600;
}

.right-col p{
    color: #777;
    margin: 20px 0 70px;
}

.socil-icon 
{
    display: flex;
    margin-top: 30px;
}

.socil-icon .icon
{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.5s;
}

.icon img
{
    width: 35px;
}


.icon a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff004f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
    opacity: 0;
    transition: transform 0.5s;
}

.icon a:hover
{
    opacity: 1;
}

.icon:hover
{
    transform: translateY(-5px);
}
.image{
    object-fit: cover;
    object-position: 100% 0;
    size-adjust: 20px;
    box-sizing: content-box;
    text-size-adjust: 20px;
}
